
//font-family
$roboto: 'Roboto', sans-serif;
    //url https://fonts.google.com/specimen/Roboto?query=roboto&sidebar.open=true&selection.family=Roboto
$helveticaNeueLTPro: 'Open Sans', sans-serif;
    // url https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&preview.text=We%20build&preview.text_type=custom&category=Sans+Serif&selection.family=Open+Sans
$merriweather: 'Merriweather Sans', sans-serif;
    //url https://fonts.google.com/specimen/Merriweather+Sans?sidebar.open=true&preview.text=We%20build&preview.text_type=custom&category=Sans+Serif&query=Merriweather&selection.family=Merriweather+Sans:ital,wght@1,300
$montserrat: 'Montserrat', sans-serif;
    //url https://fonts.google.com/specimen/Montserrat?sidebar.open=true&preview.text=We%20build&preview.text_type=custom&category=Sans+Serif&query=Montserrat&selection.family=Montserrat:wght@300;400
