@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import './style/reset';
@import './style/scssVariable';

.wrapper {
    min-height: 100vh;
    font-family: $helveticaNeueLTPro;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

@import './style/header';